/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Lobster&family=Open+Sans:wght@300;400&family=Raleway:wght@100;400;700;900&display=swap');
/* 
font-family: 'Lato', sans-serif; 700  900
font-family: 'Lobster', cursive;  400
font-family: 'Open Sans', sans-serif; 300  400
font-family: 'Raleway', sans-serif;  100 400  700 900
*/
/*  */
/* Общие правила */
* {
  margin: 0;
  padding: 0;
}
*, 
*::after, 
*::before {
  box-sizing: border-box;
}
.header_container,
.logo_container,
.container,
.footer_container,
.sect_1_container,
.sect_2_container,
.sect_3_container,
.sect_4_container,
/* .sect_5_container, */
.sect_6_container,
.sect_7_container,
.sect_8_container,
.sect_9_container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: auto;
}
a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
ul {
  list-style: none;
}
.btn {
  padding: 20px 50px;
  background-color: #fff;
  color: #1b1b1b;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/*  */
/* Контейнеры, блоки */
html, body {
  height: 100%;
}
.wrapper {
  background-color: #fff;
  margin: 0 auto;
}
/* header */
header {
  background-image: url(../img/header/fon_header.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.header_container nav {
  display: flex;
  align-items: center;
}
nav .btn {
  margin-left: auto;
}
nav .btn:hover {
  border-bottom: 3px solid #fcdb5a;
  font-weight: 900;
}
.header_container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
}
.header_container li a:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid #fcdb5a;
}
li:first-child {
  margin-right: 70px;
}
.polosa {
  padding-bottom: 10px;
  border-bottom: 3px solid #fcdb5a;
}
.logo_container {
  padding-top: 150px;
}
.logo_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 150px;
}
.logo_title p {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 200px;
  color: #fff;
  animation-duration: 3s;
  animation-name: left;
}
@keyframes left {
  from {
    margin-left: 70%;
  }

  to {
    margin-left: 0%;
  }
}

.logo_gallery {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  }
  .img_1 { 
    grid-area: 1 / 1 / 3 / 2;
    width: 33%; 
  }
  .img_2 { 
    grid-area: 1 / 2 / 2 / 3;
    width: 33%; 
  }
  .img_3 { 
    grid-area: 1 / 3 / 2 / 4;
    width: 33%; 
  }
  .img_5 { 
    grid-area: 2 / 2 / 3 / 4; 
  }
  .logo_gallery img {
    width: 400px;
    height: auto;
  }
  .img_5 {
    color: #fff;
  }
  .img_5 p {
    color: #fcdb5a;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 60px;
  }
  .img_5 span {
    color: #fcdb5a;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 60px;
  }

/* section 2 */
.sect_2 {
  margin-bottom: 140px;
}
.sect_2_container {
  margin: 0 auto;
  position: relative;
}
.img_2_1 {
  width: 719px;
  height: auto;
  top: 120px;
  left: 100px;
  z-index: 3;
  position: relative;
}
.img_2_2 {
  width: 800px;
  height: auto;
  top: 100px;
  z-index: 1;
  position: absolute;
}
.img_2_3 {
  width: 329px;
  height: auto;
  top: 80px;
  right: 350px;
  z-index: 5;
  position: absolute;
}
.sect_2_container p {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  color: #000;
  top: 100px;
  right: -140px;
  z-index: 6;
  position: absolute;
  margin-bottom: 140px;
}
.yellow {
  color: #fcdb5a;
}
.pink {
  color: #db2985;
}
.green {
  color: #72aa41;
}
.orange {
  color: #f2a137;
}
.blue {
  color: #4fb1c9;
}
/* section 3 */
.sect_3 {
  padding-top: 130px;
}
.sect_3_container {
  text-align: center;
  margin: 0 auto;
}
.sect_3_container h2 {
  text-align: center;
  margin: 0 auto;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.sect_3_container span {
  text-align: center;
  margin: 0 auto;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.sect_3_container h3 {
  text-align: center;
  width: 550px;
  padding-bottom: 100px;
  margin: 0 auto;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.card {
  display: flex;
  justify-content: space-around;
}
.card_item span{
  display: block;
  text-transform: none;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-top: 30px;
}

/* section 4 */
.sect_4 {
  margin-top: 130px;
  padding-bottom: 200px;
  background-image: url(../img/container_4/fon.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.text_block {
  padding-top: 150px;
}
.main_title {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.title {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.opisalovo {
  width: 550px;
  color: #c5c5c5;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 30px;
  margin-bottom: 50px;
}
.sect_4_btn {
  background-color: #fcdb5a;
}
.sect_4_btn:hover {
  border-bottom: 3px solid #fcdb5a;
  font-weight: 900;
}
/* section 5 */
.sect_5_container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.sect_5_container img {
  flex:0 1 25%;
  min-width: 200px;
  gap: 2px;
}
.sect_5_container img:hover {
  border: 3px solid #fcdb5a;
}

/* section 6 */
.sect_6 {
  padding-top: 130px;
}
.sect_6_container {
  text-align: center;
  margin: 0 auto;
}
/* Перенес в less */
/* .sect_6_container h2 {
  text-align: center;
  margin: 0 auto;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
} */
.sect_6_container span {
  text-align: center;
  margin: 0 auto;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
/* .sect_6_container h3 {
  text-align: center;
  width: 550px;
  padding-bottom: 100px;
  margin: 0 auto;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
} */
.card {
  display: flex;
  justify-content: space-around;
}
.card_item span{
  display: block;
  text-transform: none;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-top: 30px;
}
/* section 7 */
.sect_7 {
  height: 80vh;
  background-image: url(../img/container_7/fon.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.sect_7_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 150px;
}
.sect_7_container p {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 200px;
  color: #ccaf8a;
}
/* section 8 */
.sect_8 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.sect_8_container {
  display: flex;
  justify-content: space-around;
}
.sect_8_container img {
  height: 100px;
  width: auto;
}


.container {
  text-align: center;
  margin: 0 auto;
}
.container h2 {
  text-align: center;
  margin: 0 auto;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.container span {
  text-align: center;
  margin: 0 auto;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.container h3 {
  text-align: center;
  width: 550px;
  padding-bottom: 50px;
  margin: 0 auto;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
/* foooter */
footer {
  height: 50vh;
  max-height: 550px;
  background-color: #2e2e2e;

}
.footer_container {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}
.div1 li {
  margin-bottom: 10px;
}
iframe {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* 404 */
.full {
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.full_t {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 100px;
  color: #ccaf8a;
}
.full_t span {
  font-size: 400px;
}
.white {
  background-image: none;
  background-color: #ccaf8a;
}